@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
    background-color: rgb(242, 240, 236);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .box{
        width: 350px;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #faf9f9;
        padding: 15px 0px 15px 25px;
        display: table;

        .box-text{
            width: 60%;
            display: table-cell;
            vertical-align: middle;
            
            h1{
                font-size: 0.4rem;
                color: #808080;
            }
    
            p{
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: 0.7rem;
                font-weight: bolder;
            }
        }

        .box-image{
            display: table-cell;

            img{
                height: 80px;
                border-radius: 10px;
                vertical-align: middle;
            }
        }   
    }    
}