@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@1,400;1,800&display=swap');

$special-color: #45808b;

body{
    margin: 0 20px 0 20px;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    font-style: italic;
    font-size: 0.8rem;
    color: #595959;

    header{
        h1{
            font-size: 1rem;
            font-weight: lighter;
            color: $special-color;
        }
    
        hr{
            border: dashed;
            border-color: #d3d3d3;
            border-width: 1px;
        }
    }

    section p{
        line-height: 2.3rem;

        span{
            font-size: 1.2rem;
            font-weight: bold;
            color: $special-color;
        }
    }
}